.ept-paragraph-video-and-image-gallery.two_columns .field--name-field-ept-videos-and-images {
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.two_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: 50% auto;
  }
}
.ept-paragraph-video-and-image-gallery.three_columns .field--name-field-ept-videos-and-images {
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.three_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: repeat(3, auto);
  }
}
.ept-paragraph-video-and-image-gallery.four_columns .field--name-field-ept-videos-and-images {
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.four_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-video-and-image-gallery.four_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: repeat(4, auto);
  }
}
.ept-paragraph-video-and-image-gallery.five_columns .field--name-field-ept-videos-and-images {
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.five_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-video-and-image-gallery.five_columns .field--name-field-ept-videos-and-images {
    grid-template-columns: repeat(5, auto);
  }
}
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field__item,
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field--item {
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field__item,
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field--item {
    width: 200px;
  }
}
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field__item .field--name-field-media-image .field__item img,
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field__item .field--name-field-media-image .field--item img,
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field--item .field--name-field-media-image .field__item img,
.ept-paragraph-video-and-image-gallery.fixed_size_image .field--name-field-ept-videos-and-images .field--item .field--name-field-media-image .field--item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images {
  -moz-column-gap: 10px;
       column-gap: 10px;
  -moz-columns: 1;
       columns: 1;
  -moz-column-count: 1;
       column-count: 1;
  display: block;
  grid-template-columns: inherit;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images {
    -moz-columns: 2;
         columns: 2;
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images {
    -moz-columns: 3;
         columns: 3;
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (min-width: 1025px) {
  .ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images {
    -moz-columns: 4;
         columns: 4;
    -moz-column-count: 4;
         column-count: 4;
  }
}
.ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images > .field__item,
.ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images > .field--item {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images > .field__item img,
.ept-paragraph-video-and-image-gallery.fluid_grid .field--name-field-ept-videos-and-images > .field--item img {
  grid-row: 1/-1;
  grid-column: 1;
  max-width: 100%;
  display: block;
}
.ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images {
  -moz-column-gap: 10px;
       column-gap: 10px;
  -moz-columns: 1;
       columns: 1;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images {
    -moz-columns: 3;
         columns: 3;
  }
}
.ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images > .field__item img,
.ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images > .field--item img {
  margin-bottom: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
@media (min-width: 481px) {
  .ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images > .field__item:nth-child(1) img,
.ept-paragraph-video-and-image-gallery.featured_images_grid .ept-container .field--name-field-ept-videos-and-images > .field--item:nth-child(1) img {
    height: 415px;
  }
}
.ept-paragraph-video-and-image-gallery .glightbox-media-video {
  display: inline-block;
  position: relative;
}
.ept-paragraph-video-and-image-gallery .glightbox-media-video:before {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background: url(../img/play.svg) center center no-repeat;
  background-size: 64px 64px;
  opacity: 0.8;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.ept-paragraph-video-and-image-gallery .glightbox-media-video:hover::before {
  opacity: 1;
}