.ept-paragraph-video-and-image-gallery {
  &.two_columns {
    .field--name-field-ept-videos-and-images {
      display: grid;
      grid-template-columns: auto;
      column-gap: 30px;
      @media(min-width: 481px) {
        grid-template-columns: 50% auto;
      }
    }
  }

  &.three_columns {
    .field--name-field-ept-videos-and-images {
      display: grid;
      grid-template-columns:auto;
      column-gap: 20px;
      @media(min-width: 481px) {
        grid-template-columns: repeat(3, auto);
      }
    }
  }

  &.four_columns {
    .field--name-field-ept-videos-and-images {
      display: grid;
      grid-template-columns:auto;
      column-gap: 10px;
      @media(min-width: 481px) {
        grid-template-columns:auto auto;
      }
      @media(min-width: 769px) {
        grid-template-columns: repeat(4, auto);
      }
    }
  }

  &.five_columns {
    .field--name-field-ept-videos-and-images {
      display: grid;
      grid-template-columns:auto;
      column-gap: 10px;
      @media(min-width: 481px) {
        grid-template-columns:auto auto;
      }
      @media(min-width: 769px) {
        grid-template-columns: repeat(5, auto);
      }
    }
  }

  &.fixed_size_image {
    .field--name-field-ept-videos-and-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .field__item,
      .field--item {
        width: 100%;
        margin-bottom: 15px;
        @media (min-width:481px) {
          width: 200px;
        }
        .field--name-field-media-image {
          .field__item,
          .field--item {
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  &.fluid_grid {
    .field--name-field-ept-videos-and-images {
      column-gap: 10px;
      columns: 1;
      column-count: 1;
      display: block;
      grid-template-columns: inherit;
      @media(min-width: 481px) {
        columns: 2;
        column-count: 2;
      }
      @media(min-width: 769px) {
        columns: 3;
        column-count: 3;
      }
      @media(min-width: 1025px) {
        columns: 4;
        column-count: 4;
      }
      > .field__item,
      > .field--item {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
        img {
          grid-row: 1 / -1;
          grid-column: 1;
          max-width: 100%;
          display: block;
        }
      }
    }
  }

  &.featured_images_grid {
    .ept-container {
      .field--name-field-ept-videos-and-images {
        column-gap: 10px;
        columns: 1;
        @media (min-width: 481px) {
          columns: 2;
        }
        @media (min-width: 769px) {
          columns: 3;
        }

        > .field__item,
        > .field--item {
          img {
            margin-bottom: 15px;
            width: 100%;
            object-fit: cover;
            height: 200px;
          }

          &:nth-child(1) {
            img {
              @media(min-width: 481px) {
                height: 415px;
              }
            }
          }
        }
      }
    }
  }

  .glightbox-media-video {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      background: url(../img/play.svg) center center no-repeat;
      background-size: 64px 64px;
      opacity: 0.8;
      left: 50%;
      top: 50%;
      margin-left: -32px;
      margin-top: -32px;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}


